body {
    background-color:antiquewhite;
    font-family: Arial;
    margin:0;
    padding:0;
}

.header {
    display:flex;
    border-style: solid;
    justify-content: space-between;
    background-color:rgb(239, 239, 239);
    border: 1px solid black;
    width: 100vw;
    height: 50px;
}

.account-container {
    background-color:antiquewhite;
    padding:10px;
    border:1px solid black;
    position:absolute;
    width: 150px;
    height: 40px;
}

.button {
    height:20px;
    background-color:white;
    border: 1px solid black;
    transition-duration: 0.4s;
    cursor: pointer;
}

.new-note:hover {
    background-color: green;
    color: white;
}

.save-all-notes:hover {
    background-color:greenyellow;
}

.delete-all-notes:hover {
    background-color: rgb(134, 0, 0);
    color: white;
}

.about-page:hover {
    background-color:blue;
    color:white;
}

.save-note:hover {
    background-color: greenyellow;
}

.delete-note:hover {
    background-color: red;
    color:white;
}

.add-bulletpoints:hover {
    background-color:blueviolet;
    color:white;
}

.login:hover {
    background-color:green;
    color:white;
}

.account-profile:hover {
    background-color:gold;
    color:white;
}

.header-filename {
    display: flex;
}

.note-container {
    margin: 20px auto;
    color:black;
}

.note-box {
    height: 350px;
    background-color:blanchedalmond;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
}

.title {
    width: 400px;
    height:32px;
    color:black;
    font-family:Arial;
    font-size:16px;
    background-color:white;
    border:1px solid black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content {
    width:400px;
    height:280px;
    color:black;
    background-color:white;
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    outline:none;
}

.line {
    display:flex;
}

.non-bullet-line {
    display:flex;
    pointer-events:none;
}

.bullet-point {
    user-select:none;
    pointer-events:none;
}

.line-content {
    outline:none;
}

.change-font-container {
    background-color:blanchedalmond;
    border: 1px solid black;
    border-radius: 10px;
}

.right-click-menu {
    display: grid;
    border: 1px solid black;
    background-color:blanchedalmond;
    position: absolute;
    padding: 10px;
}

.double-click-menu-container {
    display:flex;
    border: 1px solid black;
    background-color:blanchedalmond;
    position: absolute;
    padding: 10px;
}